{% extends "layouts/layout.html" %}
{% block body %}
    <div class ="row" style="padding-top: 100px;">
        <div class="col-3 border-left">
            <!--

                <table id='connUsers-tbl' class='table'>
                    <thead></thead>
                    <tbody></tbody>
                </table>
            -->
            <div class="list-group" id="connUsers-list"></div>
        </div>
        <div class="col-8"></div>
    </div>
{% endblock %}
{% block localCss %}
<!--
    <link rel=stylesheet type=text/css href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block localJs %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.rawgit.com/turbod89/toDom/master/toDom.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>

    const socket = io.connect('http://' + document.domain + ':' + location.port+'/chat');
</script>

<script>

    const createTable = () => {
        $('#connUsers-tbl').DataTable({
            "data": [],
            "columns": [
                {
                    "title": "Email",
                    "data": "email",
                },
                {
                    "title": "Message",
                    "data": "email",
                }
            ],
            "columnDefs": [
                {
                    "targets":[1],
                    "render": function (data,type,row,meta) {
                        return "";
                    },
                    "createdCell": function(td,cellData,rowData,row,col) {

                        if (rowData.email === '{{ me.email }}') {
                            return
                        }

                        const input = toDom(['input',{'class':'form-control','type':'text','placeholder':'Message'},
                        ])

                        
                        toDom(['div',{'class':'form-inline x-0'},

                            ['div',{'class':'form-group'},
                                input,
                            ],
                            ['button', {'class': 'btn btn-primary ml-2'},
                                ['i',{'class':'fa fa-share-square'}],
                                function $click(event) {
                                    if (input.value !== '') {
                                        console.log(input.value)
                                        socket.emit('send_message_to_user',rowData.email,input.value)
                                        input.value = ''
                                        input.focus()
                                    }
                                }
                            ],

                        ],{at:td})
                    }
                },
            ],

        });
    }

    const refreshTable = data => {
        const table = $('#connUsers-tbl').DataTable();
        table.clear()
        table.rows.add(data)
        table.draw();
    }

    const connUsersList = [];

    const refreshList = data => {
        data.forEach( row => {
            const index = connUsersList.findIndex( connUser => connUser.email === row.email)

            if (index < 0) {
                const connUser = {
                    email: row.email,
                    display: {
                        name: toDom(['div', {'class':'mb-1 text-success'},row.email]),
                        state: toDom(['small','Connected']),
                    },

                }

                toDom(['a',{'class':'list-group-item list-group-item-action flex-column align-items-start','href':'#'},
                    ['div',{'class':'d-flex w-100 justify-content-between'},
                        connUser.display.name,
                        //connUser.display.state,
                    ]
                ],{at:'#connUsers-list'})

                console.log(connUser)
                connUsersList.push(connUser)
            } else {
                const connUser = connUsersList[index];
                connUser.display.state.innerHTML = 'Connected'
                connUser.display.name.classList.remove('text-danger')
                connUser.display.name.classList.add('text-succes')
            }
        })

        connUsersList.forEach(connUser => {
            const index = data.findIndex( row => connUser.email === row.email)
            if (index < 0) {
                connUser.display.state.innerHTML = 'Disconnected'

                connUser.display.name.classList.add('text-danger')
                connUser.display.name.classList.remove('text-succes')
            }
        })
    }

    $(document).ready(function () {
        createTable()
        
        socket.on('connected_users', function (data) {
            console.log(data)
            refreshList(data)
        })

        socket.on('connect',function (data) {
        })

        socket.on('get_message_from_user',function (email,message) {
            console.log('From '+email+':',message)
        })
    })
</script>
{% endblock %}